/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: #0aad0a;
  --hover-color: #3fa43f;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
  --secondary-color: #22DB14;
}

body {
  font-family: var(--font-family) !important;
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black !important;
  text-decoration: none !important;
}
.product {
  transition: all 0.5s;
}
.product:hover {
  box-shadow: 1px 1px 10px #4fa74f;
}
.product .btn {
  transition: transform 0.5s, opacity 0.5s;
  transform: translateY(100%);
  opacity: 0;
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.font-sm {
  font-size: 14px;
}
.text-main {
  color: var(--main-color);
}
.title {
  font-size: 29.3216px;
  font-weight: 800;
}
.forget a {
  font-size: 20px;
  font-weight: 800;
}
.forget a:hover {
  color: var(--hover-color);
  transition: all 0.5s;
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.btn-cart {
  background-color: var(--secondary-color) !important;
}
